/*
Author https://github.com/vincenzopalazzo
*/

/* get the required local files */
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto.woff') format('woff'), /* Modern Browsers */
  url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* use the font */
body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(193, 195, 193);
  font-style: italic;
  font-size: 25px;
}

.presentation{
  background-color: rgb(116, 117, 119);
  color: white;
}

.information{
  background-color: rgb(241, 247, 247);
}

table{
  font-size: 25px;
  margin-left: 2%;
  margin-top: 2%;
}

#last_change{
  margin-left: 10%;
}
